{% extends "base.html" %}

{% block media %}{{ form.media }}{% endblock %}
{% block body %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="w" placeholder="Width">
        <input type="text" name="h" placeholder="Height">
        <select name="fit">
            <option value=""></option>
            <option value="scale">Scale</option>
            <option value="max">Max</option>
        </select>
        <input type="text" name="blurAmount" placeholder="Blur Amount">
        <input type="submit">
    </form>
    <p>Id: {{ file.id }}</p>
    <p>Name: {{ file.text }}</p>
    <p>Url: {{ file.fpfile }}</p>
    <p>Image:</p>
    <ul>
        {% for i in file.images_list %}
            <li>
                <img src="{{ i }}" id="{{ forloop.counter0 }}">
            </li>
        {% endfor %}
    </ul>
    {% if convert_parameters %}
        <p>Conversion: <img src="{{ file.images_list.0 }}{{ convert_parameters }}"></p>
    {% endif %}
    <p><a href="/list/{{ file.id }}/delete/">DELETE</a></p>
{% endblock %}