{% extends "base.html" %}

{% block media %}
    <script type="text/javascript" src="http://api.filepicker.io/v1/filepicker.js"></script>
{% endblock %}

{% block body %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="w" placeholder="Width">
        <input type="text" name="h" placeholder="Height">
        <select name="fit">
            <option value=""></option>
            <option value="scale">Scale</option>
            <option value="max">Max</option>
        </select>
        <input type="text" name="blurAmount" placeholder="Blur Amount">
        <input type="submit">
    </form>
    <p>Id: {{ file.id }}</p>
    <p>Name: {{ file.name }}</p>
    <p>Url: {{ file.uploaded_file }}</p>
    <p>Images:
        <ul>
            {% for i in file.images_list %}
                <li><img src="{{ i }}"></li>
            {% endfor %}
        </ul>
    </p>
    {% if convert_parameters %}
        <p>Conversion: <img src="{{ file.images_list.0 }}{{ convert_parameters }}"></p>
    {% endif %}
    <p><a href="/list/{{ file.id }}/delete/">DELETE</a></p>
    <p><a href="" id="save">Save file</a></p>
{% endblock %}

{% block script %}
    <script>
      filepicker.setKey('{{ file_picker_api_key }}');
      var el = document.getElementById('save');
      el.onclick = save_picture;

      function save_picture() {
        filepicker.exportFile('{{ file.images_list.0 }}');
        return false;
      }
    </script>
{% endblock %}
