{% extends "base.html" %}

{% block body %}
    <table>
        <tbody>
            {% for f in files %}
                <tr>
                    <td><a href="{{ f.id }}">{{ f.id }}</a></td>
                    <td>{{ f.name }}</td>
                    <td>{{ f.uploaded_file_short }}</td>
                    <td>
                        {% for i in f.images_list %}
                            <img src="{{ i }}">
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}